



.notification {
    background-color: #555;
    color: white;
    text-decoration: none;
    padding: 15px 26px;
    position: relative;
    display: inline-block;
    border-radius: 2px;
}

    .notification:hover {
        background: red;
    }

    .notification .badge {
        position: absolute;
        top: -10px;
        right: -10px;
        padding: 5px 10px;
        border-radius: 50%;
        background-color: red;
        color: white;
    }
.btn {
    border: 2px solid black;
    background-color: white;
    color: black;
    
    font-size: 16px;
    cursor: pointer;
}
.info {
    border-color: #2196F3;
    color: dodgerblue;
}

    .info:hover {
        background: #2196F3;
        color: white;
    }


    
footer {
    position : fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: black;
    color: white;
    text-align: center;
    padding: 25px;
}


thead input {
    width: 100%;
    padding: 3px;
    box-sizing: border-box;
}





#geri {
    background-color: black;
    color: white;
}



